
@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}

body{
    background-image: url("images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    color: #333;
    font-size: 1em;
    font-family: "Macondo", sans-serif;
    line-height: 135%;
}

a:hover {
    color:aquamarine;
    text-decoration: none;
    transition: all.6s ease;
    -ms-transition: all.6s ease;
}

a {
    color:rgb(255, 255, 255);
    text-decoration: none;
    transition: all.6s ease;
}


header, footer {
    width: 100%;
    background-color: #fff;
    height: 40px;

}

header {
    border-bottom: 2px solid silver;
    background-color: black;
    padding: 25px 15px 10px 20px;
}

footer {
    border-top: 2px solid silver;
    margin-top: 60px;
    background-color: black;
    padding: 25px 15px 10px 20px;
}

ul {
    margin: 0;
    list-style: none;
    
}

li{
    display: inline;
    margin-right: 15px;
}

.basket ul {
        margin: 0;
        list-style: none;
}

.basket li {
    margin-right: 15px;
}

.Image img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height:400px;
    margin-top: 30px;
   
}

table {
    margin: 20px auto;
    width: 80%;
    border-collapse: collapse;
    background-color: #f7f7f7;
    font-family: "Macondo", sans-serif;
    text-align: left;
    border: 1px solid #ddd;
}

th, td {
    border: 1px solid black;
    padding: 3px;
    text-align: center;
}

td img {
    width: 200px;         
    height: 200px;       
    object-fit: cover;    /* Заполнение области, сохраняя пропорции */
    transition: transform 0.3s ease;
    align-items: center;
}


td img:hover {
    transform: scale(1.1); /* Увеличение при наведении */
}



.infooter em{
    color: #f7f7f7;
    margin-right: 20px;
}

.text{
    margin-right: 35px;
    color: #fff;
    font-size: 30px;
}

.nav{
    display: flex;
}

.form h3, label, input {
    margin-top: 5px;
    margin-left: 15px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    margin-left: 15px;
    margin-right: auto;
}

.product-container {
    position: relative;
    display: inline-block;
}

.details-btn {
    display: none;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f78f3f;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
}

.product-container:hover .details-btn {
    display: block;
}

.aboutProduct {
    margin-left: 15px;
}

